p Hello from Pug!
div
    // The working way for going with pug-loader
    p Here is an image:
    a(href="http://www.zipir.ru"): img(src=require('../../assets/img/engme_ru_logo.png'))
    //img(src='../../assets/img/my-image.jpg')
