#leftCol.col-md-3.col-sm-1.myAside
    ul#sidebar.nav
        li: a(ng-click="gotoAnchor('a_expand_voc')") Расширение словарного запаса с помощью тренажера EngMe
        li
            a(ng-click="gotoAnchor('a_pronunciation')") Тренировка произношения и восприятия устной речи
        li
            a(ng-click="gotoAnchor('a_test')") Проверка знаний с помощью онлайн тестов
        li
            a(ng-click="gotoAnchor('a_tutor')")
                | Для профессиональных репетиторов и хорошо знающих английский
                | язык
        li
            a(ng-click="gotoAnchor('a_courses')") Онлайн курсы грамматики
        li
            a(ng-click="gotoAnchor('a_think')") Языковая школа или онлайн самоучитель?
#main.col-md-9.col-sm-10.myText
    .pull-right(zh-login='')
    p.lead
        | На нашем сайте Вы можете изучать английский язык в самостоятельно и абсолютно бесплатно.
    p Для этого мы предлагаем вам следующие возможности:
    ul
        li
            | Расширение
            b словарного запаса
            |  с помощью нашего уникального тренажера EngMe
        li
            | Тренировка
            b произношения и восприятия устной речи
        li
            | Проверка знаний с помощью нашей системы
            b онлайн тестирования
        li
            | Поиск
            b репетиторов
            |  английского языка (tutors) и
            b собеседников
            |  (conversation partners)
        li
            | Онлайн
            b курсы грамматики
    span#a_expand_voc.symbol-target  
    h2 Расширение словарного запаса с помощью тренажера EngMe
    img.pull-right.img-thumbnail.hidden-xs(style='width: auto; height: 200px;', src='../assets/img/best-practice.jpg', alt='Расширение словарного запаса, надежное запоминание методом интервальных повторений Anki')
    p
        | Тренажер EngMe использует самые эффективные методы быстрого и надежного запоминания слов, фраз и
        | выражений.
    p
        | С помощью наших специальных упражнений Вы сможете не просто запомнить материал, а запомнить его за
        | минимальное время и на максимальный срок. Тренажер использует научно обоснованный
        i
            | метод интервальных
            | повторений
        | , надежно закрепляя слово в долгосрочной памяти всего за несколько повторений через
        |         определенные интервалы. Доверившись динамически подстраивающемуся плану тренировки, процесс запоминания
        |         займет намного меньше времени и многократно повысит эффективность, чем это происходит при традиционных
        |         методах изучения.
    p
        | Метод интервальных повторений прекрасно себя зарекомендовал в частности таких известных программах, как
        b Anki
        |         и
        b SuperMemo
        | .
    p
        | Более подробно о принципах работы нашего тренажера можно прочесть в
        a(href='help.htm')
            | Руководстве
            | пользователя
        | .
    p
        | Аудио-визуальные подсказки к словами и выражениям с примерами употребления многократно облегчают этот
        | процесс.
    |
    span#a_pronunciation.symbol-target  
    h2 Тренировка произношения и восприятия устной речи
    // class="pull-right img-thumbnail hidden-xs"
    img.pull-right.img-thumbnail.hidden-xs(style='width: auto; height: 200px;', src='./img/pronunciation.jpg', alt='Отработка произношения и восприятия устной речи')
    p
        | По умолчанию, наш тренажер сначала дает послушать фрагмент, не показывая ни его текст, ни перевод. Если пока
        | есть сложности с восприятием речи на слух, пользователь отображает текст и читает его вместе с диктором. При
        | этом важно имитировать не только произношение, но также ритм и интонацию диктора. Если есть трудность с
        | переводом, пользователь открывает перевод и разбирает его. Прослушивать и повторять за диктором желательно
        | снова и снова до уверенного произношения фразы без подглядывания в текст.
    p
        | Более подробно о работе нашего тренажера можно почитать в описании после регистрации.
    span#a_test.symbol-target  
    h2 Проверка знаний с помощью онлайн тестов
    p
        | На нашем сайте Вам предлагаются интерактивные онлайн тесты на знание грамматики и лексики английского
        | языка.
    img.pull-right.img-thumbnail.hidden-xs(style='width: auto; height: 200px;', src='./img/online-exam.png', alt='Уровневые онлайн тесты, тесты на знание грамматики и лексики')
    p
        | Тесты помогут Вам без привлечения дорогостоящих профессиональных тренеров проверить насколько хорошо Вы
        | знаете английский язык и получить рекомендации для дальнейшего изучения.
    p
        | Наши тесты разделены по категориям (
        b Лексика
        | ,
        b Грамматика
        | ,
        b Общий уровневый
        | ) и уровням (
        b Начальный
        | ,
        |
        b Средний
        |  и
        b Сложный
        | )
    p
        | В отличие от подавляющего большинства других Интернет-ресурсов, наш сайт хранят результаты пройденных тестов,
        | рассчитывает совокупный прогресс и собирает статистику, дает рекомендации, что в совокупности позволяет Вам
        | изучать язык наиболее эффективно, акцентируя внимания на наиболее слабых аспектах и, что немаловажно,
        | отслеживать прогресс.
    span#a_tutor.symbol-target  
    h2 Для профессиональных репетиторов и хорошо знающих английский язык
    img.pull-right.img-thumbnail.hidden-xs(src='./img/teacher_online.png', alt='English club, клуб английского языка, разговорная практика, поиск собеседника, носителя языка')
    p
        | Также наш сайт предоставляет помогает частным преподавателям и студентам найти друг друга.
    p
        | Кроме того, мы позволяем любому желающему, хорошо знающему английский язык и готовому помогать другим
        | пользователям в изучении языка. Под помощью в данном случае понимается развитие разговорных навыков
        | посредством Интернет аудио-видео коммуникаторов (Skype, Viber и т.д.), бесплатно или за умеренное
        | вознаграждение
    p
        | Для получения доступа к возможностям нашего сайта обязательна
        a(href='register.htm') регистрация
        | .
    span#a_courses.symbol-target  
    h2 Онлайн курсы грамматики
    p
        | В настоящее время мы завершаем подготовку первых интерактивных онлайн курсов по грамматике и лексике
        | английского языка.
    span#a_think.symbol-target  
    h2 Языковая школа или онлайн самоучитель?
    img.pull-right.img-thumbnail.hidden-xs(style='width: 300px; height: auto;', src='./img/learn_english_online.jpg', alt='Выбор между школой и самоучителем')
    p
        | Что выбрать –
        b курсы
        |  английского языка или в очной языковой
        b школе
        |  или
        b
            | интерактивный онлайн
            | самоучитель
        | ? Сегодня на данный вопрос однозначно ответить не так уж и просто, даже если у Вас нет
        |         недостатка в средствах. Подавляющее большинство сайтов, предоставляющих ресурсы и сервисы для
        |         самостоятельного изучения иностранных языков ориентированы прежде всего на людей, которые не в состоянии
        |         оплачивать дорогостоящие услуги профессиональных языков учебных заведений. Но стоят ли их услуги той отдачи,
        |         которую можно от них получить при самых благоприятных финансовых условий? На наш взгляд, весьма сомнительно.
        |         Дело в том, что несмотря на очность этих, пусть даже очень профессиональных и полезных занятий, основная
        |         работа ведется все-таки дома самостоятельно в виде выполнения домашних заданий и самостоятельной отработки
        |         определенных навыков.
    p
        | Кроме того, многие, особенно с мировым именем школы, давно перенесли акцент на интерактивные методы обучения,
        | экономя на аренде помещений и заработанной плате, вкладывая средства в развитие онлайн обучения и
        | интерактивных самоучителей, оставляя при этом минимум часов очной работы с тьютором.
    img.pull-right.img-thumbnail.hidden-xs(style='width: auto; height: 200px;', src='./img/ingredients.jpg', alt='эффективные методы изучения английского языка')
    p
        | Таким образом, наш рецепт изучения иностранного языка выглядит примерно следующим образом:
    ul
        li Учить и тренировать слова с помощью нашего тренажера
        li Читать как можно больше
        li
            | Как можно раньше найти себе собеседника, причем желательно носителя, готового работать с вашим, пусть
            | даже очень скромным, уровнем знаний
        li
            | Для преодоления трудностей в английском, которые не получается разрешить самостоятельно, найти
            | репетитора и берите у него уроки один раз в неделю с помощью Skype
    p Желаем Вам успехов!
    p
        | Искренее ваша,
        br
        i команда EngMe!
    |
    blockquote
        | [
        a(href='register.htm') Регистрация
        | ]
